<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="form-control">
        <form action="/change-password/:id <%= user._id %>" method="post">
            <h4>Change Password</h4>
            <label for="password">
                <input type="text" id="password" name="password" required value="<%= user.password %>">
            </label>
            <div class="form-control">
                <button type="submit">Update</button>
            </div>
        </form>
    </div>
</body>
</html>