<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <title>Login</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            flex-direction: column;
        }
        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            padding: 10px;
            width: 400px;
        }
        .container h2 {
            text-align: center;
            color: #333;
        }
        .form-group {
            margin: 3px 0;
        }
        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom:10 px;
            color: #333;
        }
        .form-group input {
            width: 95%;
            padding: 3px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        .form-group button {
            background-color: #ec131e;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 16px;
            cursor: pointer;
        }
        .success-message {
            background-color: #ec131e; 
            color: #fff;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
    
</head>
<body>


    




    
    <div class="container">
        <img src="https://img.favpng.com/6/3/24/pizza-vs-burger-logo-brand-menu-restaurant-png-favpng-d6x5gZ1qH5Ki59ys2D3bw0U4K.jpg" style="background-color: black;padding-bottom: 10px;" height="70px" width="90px;    alt="">
        
        <h2><spam class="text-danger">Lo</spam><spam>gin</spam></h2>
        <form action="/loginHome" method="post" >
            <div class="form-group">
            <div class="form-group">
                <label    for="email"><spam class="text-danger">Ema</spam><spam>il</spam></label>
                <input type="email" id="email" name="email" onkeyup="validateEmail()" required>
                <div id="email-error" class="error-message"></div>
                
            </div>
            <div class="form-group">
                <label   for="password"><spam class="text-danger">Pass</spam><spam>word</spam></label>
                <input type="password" id="password" name="password" onkeyup="validatePassword()" required>
                <div id="password-error" class="error-message"></div>
            
            </div><br>
            <div class="form-group">
                <button type="submit"  >Login</button>
            </div><br>
            <% if (success) { %>
                <div class="success-message" id="flashMessage">
                    <%= success %>
                </div>
            <% } %>
            
            <% if (error) { %>
                <div class="error-message" id="flashMessage" style="color:red">
                    <%= error %>
                </div>
            <% } %>
            
            
           
        </form>
        <br>
        <h6 style="color:#888">forgot Password? <a class="text-black text-align-center" style="font-weight: bolder;"  href="/forgotPassword">Forgot Password</a>  </h6>
        <br>
        <h6 style=" color: #888" >Don't You Have Acoount?
            <a class="text-black text-align-center" style="font-weight: bolder;"    href="/register">SignUp</a></h6>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
    // Auto fade out flash messages after 3 seconds (adjust the time as needed)
    $(document).ready(function () {
        setTimeout(function () {
            $("#flashMessage").fadeOut("slow", function () {
                $(this).remove();
            });
        }, 3000); // 3000 milliseconds = 3 seconds
    });
</script>


<script>


    
    var emailError = document.getElementById("email-error");
    var passwordError = document.getElementById("password-error");
    
  
    
    function validateEmail() {
      var email = document.getElementById("email").value;
  
      if (email.length === 0) {
        emailError.innerHTML = "Email is required";
        return false;
      }
  
      if (
        !email.match(
          /^(?:\+\d{1,3}\-)?[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/
        )
      ) {
        emailError.innerHTML = "Email Invalid";
        return false;
      }
  
      emailError.innerHTML = '<i  class="fa-solid fa-circle-check success-check "></i>';
      return true;
    }
  
    function validatePassword() {
      var password = document.getElementById("password").value;
     
      if (password .length == 0 ) {
        passwordError.innerHTML = "Password is required";
        return false;
      }
  
    

      var strongPasswordRegex = /^(?=.[a-z])(?=.[A-Z])(?=.\d)(?=.[@$!%?&])[A-Za-z\d@$!%?&]{8,}$/;

 

  passwordError.innerHTML = '<i  class="fa-solid fa-circle-check success-check"></i>';
  return true;
}
    
  
   
  </script>

   

       
        
        
    </body>
    </html>
    
